In [1]:
import pandas as pd
import numpy as np
from testing_kap import test_util
from utility import *
from utility_temp import *
from utility_vc import *

In [2]:
df = test_util.routine()
df

    GBDAT_EXP_ADD GSCHL_EXP_ADD ZNLMSVEDPY  ZNLMSVAEDA
0      08.07.1956             m          1  21.10.1954
1      08.02.2030       invalid         5c         NaN
2      25.01.1987            fw          2  09.03.1995
3      29.04.1959             w          0  07.07.1952
4      23.09.1990             m          1  08.10.1978
..            ...           ...        ...         ...
995    03.03.1959             w         3a  05.05.1997
996    17.01.2000            fw         4b  12.06.1952
997    21.04.1966             w          9  20.03.1966
998    15.08.1959             w         5a  11.01.1990
999    12.01.1975             m          2  26.07.2016

[1000 rows x 4 columns]

In [3]:
data_gender = check_value_conformance_string("GSCHL_EXP_ADD", ["w", "m"], df)
data_gender

ResponseVCStr(outside=np.int64(105), missing=np.int64(37), total=1000, bad_id_list=[1, 2, 10, 21, 27, 33, 54, 66, 88, 90, 92, 95, 97, 101, 106, 117, 120, 131, 133, 136, 139, 144, 162, 171, 172, 174, 177, 178, 189, 194, 199, 201, 206, 229, 238, 239, 246, 258, 259, 266, 275, 278, 279, 281, 295, 305, 313, 314, 322, 335, 342, 356, 362, 364, 367, 368, 372, 378, 384, 385, 388, 401, 402, 406, 411, 422, 429, 430, 436, 441, 451, 452, 457, 459, 465, 472, 474, 513, 518, 519, 524, 528, 541, 544, 549, 553, 569, 577, 581, 585, 589, 591, 602, 612, 615, 637, 640, 652, 655, 680, 683, 686, 688, 693, 698, 701, 706, 713, 716, 717, 722, 725, 727, 729, 731, 741, 745, 753, 761, 766, 774, 792, 812, 835, 846, 858, 868, 873, 874, 875, 879, 890, 892, 896, 928, 937, 938, 939, 949, 965, 978, 996])

In [4]:
data_dbdat = check_value_conformance_temporal("GBDAT_EXP_ADD", df, pd.Timestamp("01.01.1920"), pd.Timestamp("01.06.2025"))
data_dbdat

ResponseVCDate(before=np.int64(7), after=np.int64(4), total=1000, bad_id_list=[1, 2, 3, 4, 5, 6, 7, 11, 12, 14, 15, 17, 18, 20, 23, 24, 25, 26, 29, 30, 32, 33, 34, 38, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 79, 83, 84, 86, 87, 88, 90, 91, 92, 93, 95, 96, 97, 101, 102, 104, 107, 108, 109, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 124, 125, 126, 129, 131, 133, 135, 136, 137, 141, 144, 145, 146, 147, 151, 154, 156, 157, 158, 163, 164, 166, 168, 171, 172, 173, 174, 175, 176, 177, 179, 180, 181, 183, 184, 185, 187, 189, 190, 191, 192, 193, 195, 197, 199, 202, 203, 204, 205, 206, 208, 209, 211, 212, 213, 214, 215, 217, 218, 219, 220, 221, 224, 225, 229, 230, 232, 233, 235, 236, 237, 238, 239, 241, 242, 243, 244, 245, 246, 248, 249, 251, 253, 254, 257, 258, 260, 261, 262, 263, 264, 265, 268, 270, 271, 272, 273, 274, 276, 278, 280, 281, 284, 286, 289, 290, 294, 295, 297, 301, 302, 303, 305, 307, 308, 309, 311, 312, 313, 314, 315, 316, 317, 319, 320, 322, 323, 326, 327, 328, 329, 330, 331, 335, 336, 337, 340, 342, 343, 344, 345, 347, 348, 350, 351, 353, 354, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 368, 369, 374, 376, 377, 378, 379, 380, 382, 384, 386, 389, 390, 391, 392, 394, 395, 396, 398, 399, 400, 401, 403, 404, 405, 409, 410, 411, 413, 414, 415, 417, 418, 419, 420, 421, 423, 424, 425, 427, 428, 429, 432, 433, 435, 436, 439, 441, 442, 445, 446, 447, 448, 449, 450, 451, 452, 454, 456, 457, 460, 461, 462, 463, 464, 465, 466, 467, 468, 470, 472, 473, 474, 475, 476, 478, 479, 481, 482, 486, 487, 488, 489, 492, 493, 494, 496, 498, 499, 501, 502, 506, 507, 510, 511, 512, 513, 514, 515, 516, 517, 519, 521, 522, 523, 524, 525, 526, 528, 529, 530, 531, 532, 533, 534, 537, 538, 539, 540, 543, 544, 545, 546, 548, 549, 550, 551, 553, 555, 556, 557, 559, 560, 562, 564, 565, 566, 567, 568, 569, 570, 572, 576, 578, 580, 581, 583, 584, 586, 587, 588, 589, 590, 594, 597, 598, 599, 600, 601, 603, 604, 605, 606, 610, 611, 612, 613, 615, 618, 621, 622, 623, 625, 626, 628, 629, 632, 633, 634, 636, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 649, 651, 654, 655, 656, 658, 659, 660, 661, 662, 664, 665, 666, 667, 668, 671, 672, 673, 674, 675, 677, 678, 680, 681, 682, 683, 684, 686, 687, 688, 689, 690, 691, 692, 694, 695, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 709, 712, 713, 715, 716, 717, 718, 721, 723, 724, 725, 726, 729, 730, 731, 732, 734, 735, 737, 738, 739, 740, 741, 743, 744, 746, 747, 749, 750, 751, 753, 754, 755, 757, 758, 759, 760, 762, 763, 766, 767, 768, 769, 772, 773, 775, 779, 782, 783, 784, 786, 788, 790, 792, 794, 796, 798, 800, 801, 802, 803, 805, 807, 808, 809, 810, 812, 813, 815, 816, 820, 821, 822, 824, 825, 826, 827, 828, 829, 830, 831, 832, 835, 836, 837, 838, 841, 842, 843, 844, 845, 848, 849, 850, 852, 853, 855, 857, 858, 859, 861, 862, 864, 867, 870, 873, 877, 880, 881, 882, 883, 884, 885, 886, 888, 890, 891, 892, 893, 895, 897, 900, 902, 903, 904, 906, 907, 908, 909, 910, 912, 913, 915, 916, 918, 919, 921, 923, 926, 927, 931, 932, 933, 937, 939, 940, 941, 942, 943, 944, 945, 951, 952, 953, 954, 955, 957, 958, 959, 960, 961, 962, 963, 964, 965, 968, 969, 971, 972, 973, 974, 975, 976, 977, 981, 982, 983, 984, 985, 987, 988, 989, 990, 991, 996, 997, 998])

In [5]:
data_order_gbdat_checkin = check_temporal_order_plausibility("GBDAT_EXP_ADD", "ZNLMSVAEDA", df)
data_order_gbdat_checkin

ResponseVCDateOrder(earlier=np.int64(395), missing=np.int64(234), total=1000, bad_id_list=[0, 1, 3, 4, 5, 6, 7, 8, 10, 13, 14, 16, 21, 23, 24, 25, 26, 28, 29, 30, 31, 34, 35, 38, 39, 40, 41, 42, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 58, 60, 62, 64, 65, 66, 67, 68, 69, 72, 73, 74, 76, 80, 81, 82, 83, 84, 85, 86, 88, 90, 91, 93, 95, 96, 97, 99, 100, 101, 103, 104, 105, 106, 107, 111, 112, 113, 115, 117, 118, 120, 121, 122, 125, 126, 127, 129, 130, 131, 132, 133, 134, 135, 136, 137, 139, 140, 141, 143, 144, 145, 146, 148, 149, 150, 151, 153, 157, 158, 161, 166, 167, 168, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 181, 183, 185, 187, 188, 189, 190, 191, 193, 195, 196, 197, 198, 199, 202, 203, 204, 205, 206, 207, 209, 210, 211, 212, 213, 215, 216, 217, 219, 220, 221, 225, 226, 229, 234, 235, 236, 238, 240, 244, 246, 247, 248, 249, 250, 252, 253, 254, 256, 257, 258, 259, 261, 262, 263, 264, 268, 269, 270, 271, 274, 275, 276, 278, 279, 280, 281, 282, 283, 284, 287, 288, 290, 291, 292, 293, 297, 298, 301, 302, 303, 306, 307, 309, 310, 313, 315, 316, 318, 320, 321, 322, 323, 324, 325, 326, 328, 329, 330, 331, 332, 333, 334, 335, 337, 338, 340, 341, 342, 343, 346, 347, 348, 349, 351, 352, 353, 354, 358, 361, 362, 369, 370, 377, 378, 379, 380, 382, 385, 386, 387, 388, 389, 390, 391, 392, 394, 396, 398, 399, 400, 402, 403, 404, 405, 406, 408, 409, 410, 411, 412, 413, 414, 415, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 433, 434, 435, 436, 437, 438, 439, 441, 442, 445, 448, 450, 451, 452, 453, 454, 456, 457, 458, 459, 460, 461, 462, 465, 467, 470, 471, 473, 474, 475, 476, 478, 479, 480, 481, 482, 483, 485, 487, 491, 493, 496, 498, 499, 501, 502, 503, 504, 506, 507, 509, 513, 514, 517, 521, 522, 523, 528, 530, 534, 535, 537, 541, 542, 544, 545, 547, 548, 551, 552, 553, 555, 557, 558, 559, 561, 565, 566, 567, 570, 571, 572, 573, 575, 576, 577, 578, 579, 580, 582, 584, 586, 588, 591, 596, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 610, 611, 613, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 628, 632, 633, 634, 635, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 648, 649, 650, 655, 656, 657, 658, 661, 663, 664, 666, 670, 672, 673, 674, 677, 680, 682, 683, 685, 688, 690, 691, 692, 693, 694, 696, 698, 699, 701, 703, 704, 705, 706, 707, 711, 713, 715, 716, 717, 718, 720, 725, 726, 727, 728, 729, 730, 731, 733, 734, 736, 740, 743, 747, 748, 750, 751, 754, 756, 757, 761, 763, 764, 771, 772, 773, 775, 776, 777, 778, 779, 781, 783, 784, 788, 789, 790, 791, 795, 797, 799, 801, 802, 803, 808, 809, 810, 812, 813, 814, 816, 817, 818, 819, 822, 823, 825, 826, 828, 829, 830, 831, 832, 834, 835, 836, 837, 838, 839, 840, 841, 842, 844, 845, 849, 853, 856, 858, 859, 861, 868, 870, 871, 873, 875, 877, 878, 879, 880, 881, 882, 883, 884, 886, 887, 888, 891, 892, 896, 900, 901, 903, 905, 906, 907, 908, 909, 911, 912, 914, 915, 916, 918, 919, 920, 921, 922, 924, 925, 927, 928, 929, 931, 932, 934, 937, 938, 939, 940, 941, 942, 943, 944, 946, 947, 949, 951, 952, 954, 955, 958, 959, 960, 962, 964, 965, 972, 973, 974, 975, 977, 978, 982, 985, 987, 989, 990, 991, 992, 994, 996, 997])

In [ ]:
bad_rows = set()

bad_rows.update(data_gender.bad_id_list)
bad_rows.update(data_dbdat.bad_id_list)
bad_rows.update(data_order_gbdat_checkin.bad_id_list)

valid_df, invalid_df = split_by_index(df, list(bad_rows))

In [7]:
valid_df

    GBDAT_EXP_ADD GSCHL_EXP_ADD ZNLMSVEDPY  ZNLMSVAEDA
9      11.01.1944             w         3a  12.07.1977
19     05.11.1987             w         9c  19.03.2020
22     04.07.1951             m         4c  26.09.1952
36     12.04.1954             w          1  08.06.2005
37     11.08.1995             m         4a  09.08.2003
..            ...           ...        ...         ...
980    07.05.1994             w          2  10.04.2022
986    02.09.1998             m          0  23.09.1998
993    01.04.1991             w         4b  29.08.2023
995    03.03.1959             w         3a  05.05.1997
999    12.01.1975             m          2  26.07.2016

[131 rows x 4 columns]