In [1]:
import pandas as pd
import numpy as np
from testing_kap import test_util
from utility import *
from utility_temp import *
from utility_vc import *
from utility_comp import *

In [2]:
df = test_util.routine()
df

    GBDAT_EXP_ADD GSCHL_EXP_ADD ZNLMSVEDPY  ZNLMSVAEDA
0      23.06.1965             w         9c  21.04.1990
1      02.08.1980             m        NaN  05.10.2014
2      31.12.1973             w         4c  26.07.2016
3      19.08.2006             m          1         NaN
4      29.09.1970             w          2  20.11.2017
..            ...           ...        ...         ...
995    11.04.2018             m         5c  32.13.2020
996    13.04.2008             m         9c  22.11.1996
997    15.06.1954            fw         4b  17.10.2003
998           NaN             m          1  03.06.2008
999    12.08.2002           NaN         4b  07.03.1953

[1000 rows x 4 columns]

In [3]:
data_gender = check_value_conformance_string("GSCHL_EXP_ADD", ["w", "m"], df)
data_gender

ResponseVCStr(outside=np.int64(114), missing=np.int64(32), total=1000, bad_id_list=[12, 27, 30, 48, 49, 55, 64, 78, 80, 100, 101, 108, 111, 117, 118, 127, 136, 140, 146, 149, 184, 187, 227, 240, 247, 248, 258, 261, 262, 264, 274, 279, 296, 303, 305, 320, 359, 360, 372, 375, 376, 379, 396, 402, 409, 413, 432, 447, 448, 453, 455, 459, 465, 467, 472, 475, 479, 480, 496, 509, 514, 518, 522, 524, 536, 541, 543, 549, 550, 561, 563, 567, 571, 574, 576, 591, 607, 612, 615, 616, 620, 626, 629, 637, 664, 666, 668, 680, 686, 690, 694, 699, 700, 704, 708, 719, 721, 740, 743, 747, 749, 756, 764, 765, 769, 770, 774, 786, 789, 790, 793, 794, 797, 802, 808, 810, 811, 815, 816, 818, 820, 823, 829, 848, 853, 855, 861, 871, 881, 882, 889, 890, 893, 895, 897, 914, 917, 925, 926, 930, 945, 959, 969, 982, 995, 998])

In [4]:
data_dbdat = check_value_conformance_temporal("GBDAT_EXP_ADD", df, pd.Timestamp("01.01.1920"), pd.Timestamp("01.06.2025"))
data_dbdat

/Users/hannesmoehring/Documents/University/SEM6/KAP/dev/v1/utility_vc.py:86: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data = pd.to_datetime(df[col], errors="coerce")

TypeError: __init__() missing 1 required positional argument: 'missing'

In [5]:
data_order_gbdat_checkin = check_temporal_order_plausibility("GBDAT_EXP_ADD", "ZNLMSVAEDA", df)
data_order_gbdat_checkin

ResponseVCDateOrder(earlier=np.int64(368), missing=np.int64(251), total=1000, bad_id_list=[1, 3, 6, 7, 10, 12, 13, 14, 15, 16, 17, 21, 23, 24, 26, 27, 28, 29, 30, 34, 39, 40, 41, 42, 44, 45, 46, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 78, 79, 82, 84, 85, 86, 87, 91, 92, 93, 96, 98, 100, 102, 103, 105, 106, 107, 109, 110, 112, 113, 116, 120, 122, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 139, 140, 143, 145, 146, 147, 148, 149, 153, 154, 155, 156, 157, 158, 159, 160, 161, 164, 166, 167, 168, 169, 170, 171, 172, 173, 175, 177, 179, 181, 183, 184, 185, 187, 189, 190, 193, 194, 195, 196, 197, 198, 200, 201, 202, 205, 206, 209, 210, 213, 214, 215, 216, 218, 220, 221, 222, 227, 228, 229, 231, 232, 234, 236, 237, 239, 240, 241, 245, 248, 249, 250, 251, 254, 255, 256, 257, 258, 259, 260, 262, 263, 264, 267, 268, 269, 270, 271, 273, 275, 276, 277, 279, 281, 282, 283, 284, 285, 286, 288, 291, 293, 294, 295, 299, 300, 301, 304, 305, 307, 309, 310, 311, 312, 313, 314, 316, 317, 318, 320, 321, 323, 324, 326, 327, 328, 330, 331, 332, 334, 335, 336, 338, 339, 340, 342, 343, 345, 347, 349, 350, 351, 352, 354, 358, 359, 360, 361, 362, 363, 364, 365, 367, 368, 369, 371, 373, 374, 375, 376, 378, 379, 380, 381, 382, 383, 385, 386, 387, 390, 391, 392, 395, 397, 398, 399, 400, 401, 404, 406, 407, 408, 412, 413, 415, 416, 417, 418, 421, 424, 426, 428, 429, 430, 431, 432, 433, 434, 435, 436, 438, 440, 441, 442, 444, 445, 446, 447, 448, 449, 453, 456, 458, 459, 460, 461, 462, 466, 467, 471, 473, 478, 480, 482, 484, 485, 487, 489, 490, 492, 493, 497, 498, 500, 501, 503, 504, 505, 506, 507, 508, 509, 512, 513, 515, 517, 518, 519, 520, 521, 522, 524, 525, 527, 530, 531, 532, 533, 535, 536, 537, 538, 539, 540, 541, 542, 544, 545, 547, 548, 549, 553, 554, 556, 557, 562, 563, 566, 567, 568, 569, 571, 572, 575, 576, 578, 579, 580, 581, 584, 587, 589, 590, 593, 594, 597, 598, 600, 601, 602, 604, 605, 607, 609, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 623, 626, 627, 628, 629, 630, 631, 633, 635, 636, 639, 641, 643, 644, 646, 649, 650, 652, 653, 654, 655, 656, 657, 658, 659, 662, 663, 664, 665, 666, 668, 675, 676, 679, 681, 682, 686, 687, 688, 689, 691, 692, 694, 696, 698, 700, 705, 707, 712, 713, 714, 715, 719, 720, 722, 723, 727, 728, 729, 730, 731, 734, 735, 736, 738, 741, 743, 746, 748, 749, 752, 755, 756, 759, 760, 761, 763, 765, 766, 767, 768, 769, 771, 773, 775, 776, 778, 780, 784, 785, 788, 789, 790, 792, 793, 794, 795, 796, 797, 798, 799, 801, 802, 804, 805, 808, 812, 813, 814, 816, 817, 820, 821, 823, 824, 826, 827, 829, 830, 832, 836, 837, 842, 844, 845, 846, 848, 850, 852, 853, 855, 858, 859, 861, 862, 863, 865, 866, 867, 868, 870, 872, 873, 874, 875, 876, 877, 878, 880, 881, 882, 884, 886, 887, 890, 891, 892, 895, 897, 898, 899, 900, 901, 903, 907, 908, 909, 913, 914, 915, 916, 917, 918, 920, 924, 926, 927, 928, 930, 931, 935, 936, 938, 939, 940, 942, 943, 945, 946, 948, 950, 951, 952, 954, 956, 957, 958, 959, 960, 963, 964, 967, 968, 969, 970, 972, 973, 974, 976, 977, 986, 988, 991, 992, 994, 995, 996, 997, 998, 999])

In [6]:
bad_rows = set()

bad_rows.update(data_gender.bad_id_list)
bad_rows.update(data_dbdat.bad_id_list)
bad_rows.update(data_order_gbdat_checkin.bad_id_list)

valid_df, invalid_df = split_by_index(df, list(bad_rows))

NameError: name 'data_dbdat' is not defined

In [7]:
valid_df

NameError: name 'valid_df' is not defined

In [8]:
check_computational_conformance_bmi(df)

KeyError: 'ZNLMSVAGRO'